extends ./layout.jade

block content
    h1.achievement-header Достижение
    .achievement.achievement_size_big
        .achievement__main-info
            img.achievement__image(src=achievement.image)
            h1.achievement__name=achievement.title
        span.achievement__desc=achievement.description

    - if (achievement.children.length || achievement.parents.length) {
        .well
            - if (achievement.children.length) {
                .achievement-info-block
                    h4 Содержится в
                    - achievement.children.forEach(function (achievement) {
                        a(href='/achievements/' + achievement.id).achievement
                            .achievement__main-info
                                img.achievement__image(src=achievement.image)
                                span.achievement__name=achievement.title
                            span.achievement__desc=achievement.description
                    - });
            - }

            - if (achievement.parents.length) {
                .achievement-info-block
                    h4 Содержит
                    - achievement.parents.forEach(function (achievement) {
                        a(href='/achievements/' + achievement.id).achievement
                            .achievement__main-info
                                img.achievement__image(src=achievement.image)
                                span.achievement__name=achievement.title
                            span.achievement__desc=achievement.description
                    - });
            - }

            - if (achievement.holders.length) {
                .achievement-info-block
                    h4 Держатели
                    - achievement.parents.forEach(function (achievement) {
                        a(href='/achievements/' + achievement.id).achievement
                            .achievement__main-info
                                img.achievement__image(src=achievement.image)
                                span.achievement__name=achievement.title
                            span.achievement__desc=achievement.description
                    - });
            - }
    - }
