mixin achievement-content(achievement, big)
    - if (achievement) {
        img.achievement__image(src=achievement.image)
        .achievement__main-info
            .achievement__name(contenteditable=(big ? 'true' : 'false'), data-name='title')=achievement.title
            .achievement__desc(contenteditable=(big ? 'true' : 'false'), data-name='description')=achievement.description
    - } else {
        form(action='/achievements/new-image').dropzone.achievement__image
            input(name='token', value=token, type='hidden')
        form.achievement__main-info(action='/achievements/new', method='POST')
            input.form-control.achievement__name(required, autocomplete='off', name='title', placeholder=i18n.get('achievements.name'))
            textarea.form-control.achievement__desc(required, name='description', placeholder=i18n.get('achievements.description'))
            input(name='token', value=token, type='hidden')
            button.btn.btn-default=i18n.get('achievements.create')
    - }

mixin achievement(achievement, big)
    if big
        - attributes.class = 'achievement_size_big';
        - if (achievement) {
            div(class=attributes.class).achievement
                +achievement-content(achievement, big)
        - } else {
            div(class=attributes.class).achievement
                +achievement-content(achievement, big)
        - }
    else
        - if (achievement) {
            a(href='/achievements/' + achievement.id, class=attributes.class).achievement
                +achievement-content(achievement)
        - } else {
            .div(class=attributes.class).achievement
                +achievement-content(null)
        - }

