.modal.fade#cert-modal(tabindex='-1')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true')!='&times'
                h4.modal-title=i18n.get('cert.cert') + ' ' + cert.referer
            .modal-body
                p=i18n.get('cert.toGiveCertUseThisLink')
                input.share-cert(type=text, value=cert.link)
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal')=i18n.get('button.close')
                    button.btn.btn-danger(type='submit')=i18n.get('cert.removeCert')
