mixin holder(holder)
    a(href='/user/' + holder.id).holder=holder.name

mixin tag(tag)
    a.label(class=('label-' + tag.theme), href='/tag/' + tag.name)=tag.name

mixin headerProfile()
    - if (me) {
       a(href="/user/" + me.id)= me.name
    - } else {
        a(href="/auth/")=i18n.get('auth.login.login')
    - }


mixin social-button(link, name, text)
    a(href=link, title=name, class='btn-' + name).btn.btn-block.btn-social.btn-lg
        i(class='fa-' + name).fa
        | !{text}
