mixin achievement-content(achievement)
    - if (achievement) {
        img.achievement__image(src=achievement.image)
        .achievement__main-info
            .achievement__name=achievement.title
            .achievement__desc=achievement.description
    - } else {
        input(type='file').achievement__image
        .achievement__main-info
            input.achievement__name
            input.achievement__desc
    - }

mixin achievement(achievement, big)
    if big
        - attributes.class = 'achievement_size_big';
        div(class=attributes.class).achievement
            +achievement-content(achievement)
    else
        - if (achievement) {
            a(href='/achievements/' + achievement.id, class=attributes.class).achievement
                +achievement-content(achievement)
        - } else {
            .div(class=attributes.class).achievement
                +achievement-content(achievement)
        - }

mixin holder(holder)
    .holder=holder.name
