include achievements/mixins
extends layout

block content
    +achievement(achievement)
    button.btn.btn-lg.btn-default.achievement__award=i18n.get('cert.createNewCert')
    h2.achievement-header=i18n.get('cert.certs')

block no-container
    if achievement.certificates.length
        table.table
            thead
                tr
                    td=i18n.get('cert.cert')
                    td=i18n.get('cert.used')
                    td=i18n.get('cert.type')
            tbody
                - achievement.certificates.forEach(function (cert) {
                    tr.cert(data-cert=cert.id)
                        td
                            a(href='/cert/' + cert.referer).cert__referer=cert.referer
                        td.cert__used=cert.used + ' / ' + (cert.uses === 0 ? '∞' : cert.uses)
                        td.cert__type=i18n.get('cert.types.' + cert.type)
                - });
    else
        p.center=i18n.get('cert.noCertsYet')
    include partials/cert-form-modal


