include ./achievements/mixins
include ./mixins/index

extends ./layout.jade

mixin social-add-button(name, text)
    if !me[name + 'Id']
        .row
            .col-md-12
                +social-button('/auth/' + name, name, text)

block content
    h1=user.name

    if user.receivedAchievements.length
        h3=i18n.get('achievements.receivedAchievements')
        - achievements = user.receivedAchievements
        - achievements.forEach(function (achievement) {
            +achievement(achievement)
        - });
    else
        p=i18n.get('achievements.noAchievements')

    if user.createdAchievements.length
        h3=i18n.get('achievements.createdAchievements')
        - user.createdAchievements.forEach(function (achievement) {
            +achievement(achievement)
        - });


    if me
        .social-box
            h4=i18n.get('auth.add.addAccount')
                +social-add-button('facebook', i18n.get('auth.add.facebook'))
                +social-add-button('twitter', i18n.get('auth.add.twitter'))
                +social-add-button('github', i18n.get('auth.add.github'))
                +social-add-button('instagram', i18n.get('auth.add.instagram'))
